.task {
    background-color: var(--color-grey);
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    
    display: flex;
    align-items: center;


    &__checkbox {

    }

    &__title {
       font-size: var(--font-s);
       font-family: var(--font-secondary);
       margin-left: 2rem;
       
    }

    &__menu-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
    }
}