.task {
    display: flex; 
    align-items: center;
    background: white;
    background-color: rgba(4, 150, 255, .3);
    margin-bottom: 1rem;
    padding: .5rem 1.5rem;
    position: relative;


    &__title {
       font-size: var(--font-s);
       font-family: var(--font-secondary);
       margin-left: 2rem;
       cursor: pointer;
    }

    &__menu-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
        cursor: pointer;
    }
}