.main-page {
    display: grid;
    grid-template-columns: [full-start]  20rem [center-start]  
                            repeat(8, [col-start] 1fr [col-end]) 
                            [center-end] 25rem [full-end];
    
    grid-template-rows: 100vh;
}

