.checkbox {
    

    &__container {
        align-self: center;
        cursor: pointer;
    }

    &__input {
        width: 1.5rem;
        height: 1.5rem;
        background-color: white;
        border-radius: 50%;
        border: 5px solid var(--color-green);
        transition: all .3s;

        &--complete {
            border: none;
            background-color: var(--color-green);
        }

    }

}



.red {
    border: 5px solid var(--color-red);

    &--complete {
        border: none;
        background-color: var(--color-red);
    }
}

.yellow {
    border: 5px solid var(--color-yellow);

    &--complete {
        border: none;
        background-color: var(--color-yellow);
    }
}

.blue {
    border: 5px solid var(--color-primary-light);

    &--complete {
        border: none;
        background-color: var(--color-primary-light);
    }
}

