.nav-header {
    
    &__container {
        display: none;

        @media only screen and (max-width: 650px) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            background-color: var(--color-primary);

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
        }
    }

    &__logo {
        font-size: var(--font-l);
        color: var(--color-white);
        
    }
}