@keyframes revealAnimation {
    0% {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        
    }


    100% {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);    
    }
}

.modal {

    &__overlay {
        background-color: var(--color-black);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        opacity: .3;
    }

    &__content {
        background-color: var(--color-white);
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: 2rem;
        border-radius: 3px;
        animation: revealAnimation;
        animation-duration: .5s;

        @media only screen and (max-width: 600px) {
            width: 75%;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        align-items: baseline;
    }


    &__inbox-icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: var(--color-black);
    }

    &__heading {
        font-size: var(--font-m);
        margin-left: 1rem;
    }

    &__exit-icon {
        height: 1.8rem;
        width: 1.8rem;
        margin-left: auto;
        cursor: pointer;
        transition: all .2s;
        fill: var(--color-black);

        &:hover {
            fill: var(--color-red);
            transform: scale(1.2);
        }
    }
}